.fs-18px {
    font-size: 18px;
}

.fs-3r {
    font-size: 3rem;
}

.back2top {
    position: fixed;
    font-size: 2rem;
    right: 1%;
    bottom: 1%;
}

.facebook-logo {
    background-color: #0866FF;
    color: white;
    padding: 0.25rem 0.5rem;
}

.line-logo {
    background-color: #06C755;
    color: white;
    padding: 0.25rem 0.5rem;
}

.color-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.product-color-K {
    background-color: #343434;
}

.product-color-W {
    background-color: white;
}

.product-color-S {
    background-color: Gray;
}

.product-color-PN {
    background-color: #c38989;
}

.product-color-L {
    background-color: DarkGray;
}

.product-color-T {
    background-color: #553e37;
}

.product-color-N {
    background-color: #aea397;
}